In [16]:
import pandas as pd
from sqlalchemy import  create_engine
from time import time

In [2]:
pd.__version__

'1.4.3'

In [3]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [5]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name="yello_taxi_data", con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [34]:
df.to_csv('yellow_tripdata_2022-01.csv', index=False)

In [24]:
df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=50000)

In [10]:
df_iter

In [11]:
df = next(df_iter)

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [13]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [14]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [13]:
df.head(n=0).to_sql(name='yello_taxi_data', con=engine, if_exists='replace')

0

In [28]:
for chunk in pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=50000):
    print(len(chunk))

50000
50000

In [14]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet')
df.shape

(2463931, 19)

In [15]:
CHUNK_SIZE = 100000

for chunk_num in range(len(df) // CHUNK_SIZE + 1):
    s_time = time()

    start_index = chunk_num * CHUNK_SIZE
    end_index = min(chunk_num * CHUNK_SIZE + CHUNK_SIZE, len(df))
    chunk = df[start_index:end_index]
    
    chunk.to_sql(
        name="yello_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
        chunksize=50000,
    )

    e_time = time()
    print(f"inserted a new chunk, time spent {e_time-s_time:.3f} seconds")

inserted a new chunk, time spent 36.567 seconds
inserted a new chunk, time spent 36.998 seconds
inserted a new chunk, time spent 35.093 seconds
inserted a new chunk, time spent 34.559 seconds
inserted a new chunk, time spent 34.475 seconds
inserted a new chunk, time spent 33.590 seconds
inserted a new chunk, time spent 36.155 seconds
inserted a new chunk, time spent 41.579 seconds
inserted a new chunk, time spent 36.400 seconds
inserted a new chunk, time spent 50.778 seconds
inserted a new chunk, time spent 36.573 seconds
inserted a new chunk, time spent 35.726 seconds
inserted a new chunk, time spent 40.745 seconds
inserted a new chunk, time spent 41.679 seconds
inserted a new chunk, time spent 38.062 seconds
inserted a new chunk, time spent 36.890 seconds
inserted a new chunk, time spent 36.305 seconds
inserted a new chunk, time spent 38.393 seconds
inserted a new chunk, time spent 34.916 seconds
inserted a new chunk, time spent 37.733 seconds
inserted a new chunk, time spent 37.003 seconds
inserted a new chunk, time spent 38.488 seconds
inserted a new chunk, time spent 38.662 seconds
inserted a new chunk, time spent 37.235 seconds
inserted a new chunk, time spent 30.407 seconds